<h1 *ngIf="showTitle; else noTitle"> {{title}} </h1>
<ng-template #noTitle><div>No title :(</div></ng-template>
<button (click)="clickChangeTitle($event)" style="width: 250px">Change Title</button>
<hr>
<!--<input type="text" [attr.value]="inputValue" (input)="catchInsertedText($event)">-->
<input type="text" [(ngModel)]="inputValue">
<button (click)="takeValue()">InsertedValue</button>
<ul>
  <li *ngFor="let obj of elements; let i = index;">
    <app-product-item [obj]="obj" [i]="i" customProperty="test"></app-product-item>
  </li>
</ul>
